<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abstergo Delux</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="icon" type="image/png" href="/img/logo-modified.png">
    <script src="https://kit.fontawesome.com/bba50c74c3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=GFS Didot' rel='stylesheet'>
</head>
<body class="whiteBack">
    <nav class="navbar navbar-expand-lg navbar-light blackBack">
        <a class="navbar-brand ms-2" href="/"><img id="logoNav" src="/img/logo-modified.png" width="50"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
  <ul class="navbar-nav ps-3 mt-2 mt-lg-0">
    <li class="nav-item"><a class="nav-link whiteText" href="/kontakt">Kontakt</a></li>
    <li class="nav-item"><a class="nav-link whiteText" href="/bewerben">Bewerben</a></li>
    <li class="nav-item"><a class="nav-link whiteText" href="/impressum">Impressum</a></li>
    <li class="nav-item"><a class="nav-link whiteText" href="/datenschutz">Datenschutz</a></li>
  </ul>

  <ul class="navbar-nav ps-3 mt-2 mt-lg-0 ms-lg-auto">
    <li class="nav-item mb-3 mb-lg-0 me-3">
      <a class="whiteText" href="https://www.instagram.com/abstergodelux/" target="_blank">
        <i class="fa-brands fa-instagram fa-xl"></i>
      </a>
    </li>
    <li class="nav-item mb-3 mb-lg-0 me-3">
      <a class="whiteText" href="https://www.facebook.com/share/1DTSfHV1ZR/" target="_blank">
        <i class="fa-brands fa-facebook fa-xl"></i>
      </a>
    </li>
    <li class="nav-item mb-3 mb-lg-0 me-3">
      <a class="whiteText" href="https://www.tiktok.com/@abstergodelux" target="_blank">
        <i class="fa-brands fa-tiktok fa-xl"></i>
      </a>
    </li>
    <li class="nav-item mb-3 mb-lg-0 me-3">
      <a class="whiteText" href="https://wa.me/491621785433" target="_blank">
        <i class="fa-brands fa-whatsapp fa-xl"></i>
      </a>
    </li>
    <li class="nav-item mb-3 mb-lg-0 me-3">
      <a class="whiteText" href="viber://chat?number=+491621785433">
        <i class="fa-brands fa-viber fa-xl"></i>
      </a>
    </li>
  </ul>
</div>

</nav>
    <div id="firstSection" class="fade-in-section">
    <div class="d-flex justify-content-center mt-3">
      <img src="/img/logo-modified.png" width="125">
    </div>

    <h1 class="text-center redText mt-3">Gründlichkeit, auf die Sie sich verlassen können !</h1>
      <div class="container mt-4" class="fade-in-section">
        <div class="row align-items-center justify-content-center">
          <div class="col-12 col-lg-6   text-center text-lg-start mb-4 mb-lg-0 ">
            <h2 class="mb-3 display-5 redText">Über uns</h2>
            <p class="fs-5">
              <b class="redText">Abstergo Delux</b> ist Ihre zuverlässige Reinigungsfirma mit Sitz in Edingen-Neckarhausen.
              Wir stehen für professionelle Grundreinigung und Gebäudereinigung auf höchstem Niveau.
              Wir sorgen mit Präzision, Sorgfalt und modernsten Reinigungsmethoden für strahlende Sauberkeit –
              ob privat oder gewerblich. Vertrauen Sie auf Qualität, Zuverlässigkeit und einen Service, der hält, was er verspricht.
            </p>
          </div>
          <div class="col-12 col-lg-6 text-center ">
            <img src="/img/Web_Bild_1.png" alt="Abstergo Delux Team" class="img-fluid rounded shadow ms-2 object-fit-cover">
          </div>

        </div>
      </div>
    </div>
<div class="d-flex flex-column w-100 videoDiv fade-in-section mt-5">
        <video autoplay loop muted playsinline>
            <source src="/img/Video_Web1_KI.mp4" type="video/mp4">
        </video>
  </div>
    
<div id="secondSection">
  <div class="mt-5 fade-in-section">
    <div class="row g-4 justify-content-center text-center redText py-5 rounded border-bottom border-red">
        <div class="col-12 col-md-4 px-4">
        <h2 class="mb-3">
            <i id="Aufwendigereinigung" class="fa-solid fa-broom fa-2x mb-2 d-block iconHover textBox"></i>
            <span class="blackText">Aufwendigereinigung</span>
        </h2>
        </div>
        <div class="col-12 col-md-4 px-4">
        <h2 class="mb-3">
            <i id="Büroreinigung" class="fa-solid fa-briefcase fa-2x mb-2 d-block iconHover textBox"></i>
            <span class="blackText">Büroreinigung</span>
        </h2>
        </div>
        <div class="col-12 col-md-4 px-4">
        <h2 class="mb-3">
            <i id="Sanitärreinigung" class="fa-solid fa-faucet fa-2x mb-2 d-block iconHover textBox"></i>
            <span class="blackText">Sanitärreinigung</span>
        </h2>
        </div>
    </div>
</div>
<div class="fade-in-section">
    <div class="row g-4 justify-content-center text-center redText py-5 rounded border-bottom border-red">
        <div class="col-12 col-md-4 px-4">
        <h2 class="mb-3">
            <i id="Müllentsorgung" class="fa-solid fa-trash fa-2x mb-2 d-block iconHover textBox"></i>
            <span class="blackText">Müllentsorgung</span>
        </h2>
        </div>

        <div class="col-12 col-md-4 px-4">
        <h2 class="mb-3">
            <i id="Fensterreinigung" class="fa-brands fa-windows fa-2x mb-2 d-block iconHover textBox"></i>
            <span class="blackText">Fensterreinigung</span>
        </h2>
        </div>
        <div class="col-12 col-md-4 px-4">
        <h2 class="mb-3">
            <i id="Teppichreinigung" class="fa-solid fa-rug fa-2x mb-2 d-block iconHover textBox"></i>
            <span class="blackText">Teppichreinigung</span>
        </h2>
        </div>
    </div>
</div>
<div class="fade-in-section">
    <div class="row g-4 justify-content-center text-center redText py-5 rounded border-bottom border-red">
      <div class="col-12 col-md-4 px-4">
        <h2 class="mb-3">
            <i id="Polierreinigung" class="fa-solid fa-bolt fa-2x mb-2 d-block iconHover textBox"></i>
            <span class="blackText">Polierreinigung</span>
        </h2>
        </div>
        <div class="col-12 col-md-4 px-4">
        <h2 class="mb-3">
            <i id="Bügelservice" class="fa-solid fa-cloud fa-2x mb-2 d-block iconHover textBox"></i>
            <span class="blackText">Bügelservice</span>
        </h2>
        </div>

        <div class="col-12 col-md-4 px-4">
        <h2 class="mb-3">
            <i id="Fahrzeugreinigung" class="fa-solid fa-car fa-2x mb-2 d-block iconHover textBox"></i>
            <span class="blackText">Fahrzeugreinigung</span>
        </h2>
        </div>
    </div>
</div>
</div>

<div class="fade-in-section mt-4">
  <div class="row g-4 justify-content-center text-center redText py-5 rounded ">
        <div class="col-12 col-md-6">
          <button id="Algemeinereinigung" type="button" class="btn btn-danger btn-lg redBack w-75 textBox">Unterhaltsreinigung</button>
        </div>

        <div class="col-12 col-md-6">
          <button id="Einmalige_Reinigung" type="button" class="btn btn-dark btn-lg w-75 textBox">Einmalige Reinigung</button>
        </div>
    </div>
</div>
</div>

<div id="thirdSection">
  <div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8 text-center redText fade-in-section">
      <h1 class="mb-3 display-5">Möchten Sie uns kennenlernen oder kontaktieren?</h1>
    </div>
  </div>

  <div class="row mt-2 g-4 justify-content-center text-center redText py-5 rounded align-items-stretch fade-in-section">

    <div class="col-12 col-md-6 px-4 d-flex flex-column justify-content-between">
      <div>
        <h2 class="mb-3">Kontaktdaten</h2>
        <p class="fs-5">
          <a class="redText" href="/kontakt" target="_blank"><i class="fa-solid fa-envelope me-2"></i>Kontakt per Email</a>
        </p>
        <p class="fs-5">
          <i class="fa-solid fa-phone"></i>
          <span>(+49) 162 1785433</span>
        </p>
        <p class="fs-5">
          <a class="redText" href="https://www.instagram.com/abstergodelux/" target="_blank"><i class="fa-brands fa-instagram me-2"></i>@abstergodelux</a>
        </p>
        <p class="fs-5">
          <a class="redText" href="https://www.facebook.com/share/1DTSfHV1ZR/?mibextid=wwXIfr" target="_blank"><i class="fa-brands fa-facebook me-2"></i>Abstergo Delux</a>
        </p>
        <p class="fs-5">
          <a class="redText" href="https://www.tiktok.com/@abstergodelux?_t=ZN-8wQHMEbw15S&_r=1" target="_blank"><i class="fa-brands fa-tiktok me-2"></i>@abstergodelux</a>
        </p>
        <p class="fs-5">
          <a href="https://wa.me/491621785433" target="_blank" class="redText"><i class="fa-brands fa-whatsapp"></i>WhatsApp</a>
        </p>
        <p class="fs-5">
          <a href="viber://chat?number=+491621785433" class="redText"><i class="fa-brands fa-viber"></i>Viber</a>
        </p>
      </div>
      <div class="mt-4 h-100">
        <img src="/img/Web_bild2.png" alt="Abstergo Delux Team" class="img-fluid rounded shadow w-100 h-100 object-fit-cover">
      </div>
    </div>

   <div class="d-none d-md-flex align-items-stretch px-0" style="width: 0;">
        <div class="border-red border-end" style="width: 2px;"></div>
    </div>

    <div class="col-12 col-md-5 px-4 d-flex flex-column justify-content-between">
      <div>
        <h2 class="mb-3">Unser Ort</h2>
        <p class="fs-5">
          <i class="fa-solid fa-location-dot"></i>
          <span>Seckenheimer Straße 100, 68535 Edingen-Neckarhausen</span>
        </p>
        <p class="fs-5">
          <i class="fa-solid fa-clock"></i>
          <span>Rund um die Uhr erreichbar</span>
        </p>
      </div>
      <div class="ratio ratio-16x9 shadow rounded mt-4 h-100">
        <iframe 
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2613.4807492586373!2d8.588894615673387!3d49.47052837934907!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4797c5fc77825b23%3A0x25e93a1d8e94d28!2sAbstergo%20Delux%20-%20Reinigungsfirma!5e0!3m2!1sde!2sde!4v1715369134585!5m2!1sde!2sde" 
          style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
    </div>

  </div>
</div>
</div>


<footer class="text-center blackBack whiteText mt-5 h-100">
    <span>© 2025 Abstergo Delux - All Rights Reserved.</span>
</footer>

<script src="animation.js"></script>
</body>
</html>